@use "../abstract/vars" as *;


.page-menu{
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 80%;
    margin: 2em auto;
    padding: 2em 0 3em 0;
    border-radius: 1em;
    //Landnings menyn
    .menu-title{
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .menu-buttons{
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 1em auto;
        padding:1em 0;
        width: 50%;
    }
    //Skapa todos menyn
    .content-input,
    .title-input,
    .end-date-input,
    .start-date-input{
        background-color: $CBackgroundColor;
        border-radius: 0.5em;
        margin: 1em auto;
        color: white;
        font-family: 'Lobster', cursive;
        width: 75%;
        padding:0.5em;
        border: 2px solid $CBorderColor;
    }
    .content-input{
        height: 5em;
    }
    .create-buttons-container {
        display: flex;
        margin: 0 auto;
        gap: 2em;

        .button {
            width: 10em;
        }
        #tsparticles canvas {
            position: fixed !important;
            width: 100% !important;
            height: 100% !important;
            left: 0 !important;
            top: 0 !important;
            pointer-events: none !important;
          }
    }
    //Sök todos menyn
    .main-menu-btn{
        position: absolute;
        top:0;
        left: 25%;
        right: 25%;
    }
    .search-box{
        background-color: $CBackgroundColor;
        font-family: 'Lobster', cursive;
        border-radius: 0.5em;
        padding: 0.25em;
        color: white;
        height: 1.65em;
        margin: 0.7em auto;
    }
    .button{
        max-width: 8em;
    }
    .search-result{
        display: flex;
        flex-wrap: wrap;
        div{
            border: 3px solid white;
            width: 10em;
            border-radius: 0.5em;
            margin: 0.5em auto 0 0;
            padding: 0.5em;
            *{
                font-size: 1rem;
                margin: 0.5em 0 0 0;
            }
        }
    }
    // Se todos
    .no-todos-text{
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
}

.button{
    margin: 0.75em auto;
    width: 80%;
    height: 2.5em;
    font-family: 'Lobster', cursive;
    color: white;
    background-color: $CBackgroundColor;
    border-radius: 0.5em;
    cursor: pointer;
    border: 2px solid $CBorderColor;
}

button:hover{
    background-color: $CForegroundColor;
}

body, html{
	margin: 0px;
	height: 100%;
	overflow-y: hidden;
    position: relative;
    font-family: 'Lobster', cursive;
}


.canvas-background {
    position: absolute;
    top: 0;
    z-index: -10;
}

.container {
    position: relative;
    transition: 0.15s opacity;
    display: flex;
    color: white;
    width: 100%;
    height: 30em;
    margin: 5em auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    .language-flag {
        width: 5em;
        height: 3em;
        position: absolute;
        left: 2em;
        top: 2em;
        cursor: pointer;
    }

    .lang-select-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.705);
        height: 100vh;
        width: 100%;
    }
    .lang-select-flags {
        display: flex;
        gap: 2em;
        margin-top: 3em;
        .flag-img {
            width: 7em;
            height: 5em;
            cursor: pointer;
            box-shadow: 0 0 10px black;
        }
    }

    .container-background {
    position: absolute;
    z-index: -8;
    width: 200%;
    height: 100%;
    opacity: 0.5;
}
.see-todo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}
.see-todo-container::-webkit-scrollbar{
    display: none;
  }

.see-todo-items {
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 4px;
    flex-direction: column;
    position: relative;
    margin-bottom: 1em;
    padding: 0.2em;
    .delete{
        position: absolute;
        font-size: 1rem;
        right: 0.5em;
        width: 4em;
        bottom: -0.25em;
    }
}

.checkbox {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 2em;
    height: 2em;
}

.todo-content {
    max-width: 80%;
}
}


body{
    overflow: hidden;
}

.rotating-stars{
    position: absolute;
    width: 350%;
    left: -100%;
    top: 0;
    opacity: 0.5;
    z-index: -5;
    animation-name: rotation;
    animation-timing-function: linear;
    animation-duration: 150s;
    animation-iteration-count: infinite;
}

.confirm-menu{
    font-size: 1.5rem;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    z-index: 15;
    min-width: 7em;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100vh;
    h3:first-child{
        margin-top: 5em;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        width: 75%;
        max-width: 12em;
    }
}

@keyframes rotation {
    0%{transform: rotateZ(0);}
    100%{transform: rotateZ(360deg);}
}


@media screen and (min-width: 768px) {
    
    .container {
        width: 60%;
        height: 70vh;
        .container-background {
        width: 100%;
    }

    .see-todo-container {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        height: 25em;
    }
    .see-todo-items {
        flex: 0 0 30%;
        height: 10em;
    }
    .language-flag {
        width: 7em;
        height: 5em;
    }

    .lang-select-container {
        /* right: 30%;
        left: 30%; */
        font-size: 2.5em;
    }
    }
    .page-menu {
        max-width: 1200px;
        margin: 4em auto;
        .menu-buttons {
             button {
                max-width: 7em;
            }
        }
        .content-input,
        .title-input,
        .end-date-input,
        .start-date-input{
            width: 50%;
        }
        .search-box{
            height: 1.9em;
        }

        .search-box,
        .button{
            font-size: 1.5rem;
        }
        .search-result{
            align-self:stretch;
            width: 100%;
            min-height: 80%;
            justify-content: center;
            p{
                font-size: 1.5rem;
            }
            div{
                margin: 1em;
                *{
                    font-size: 1.5rem;
                    margin: 0.5em 0 0 0;
                }
            }
        }
    }
}
